.App{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/pexels-creative-vix-9754.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px 0;
  padding: 0;
}
.clock{
  background: rgba(0, 0, 0, 0.699);
  padding: 20px;
  width: 50%;
  color: wheat;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.689);
}
.clock h2{
  color: rgb(255, 145, 0);
}
.clock b{
  font-size: 30px;
}

@media(max-width:430px){
  .clock{
    width: 80%;
  }
}
